.MultiquestionButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20%;
    bottom: 40%;
    height: 150px;
    width: 220px;
    font-size: 12px;
    padding: 4px;
    background: var(--multi-bg);
    border-top: 15px solid var(--multi-border-color);
    color: var(--multi-font-color);
    font-family: VT323;
    box-shadow: 2px 2px 2px rgb(76, 75, 75);
}

label {
    color: black;
    font-size: 8px;
}

button {
    font-size: 8px;
    box-shadow: 1.5px 1px 1px rgb(76, 75, 75);
    margin: 5px;
    background: #c0c0c0;
    border: 2px solid black;
    font-family: VT323;
    cursor: pointer;
    color: black;
}